@import url(header.css);
@import url(menu.css);
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body main{
    width: 90%;
    height: auto;
    margin:  0 auto;
    position: relative;
    top: 20px;
}

main h1{
    display: block;
    width: 400px;
    font-size: 100%;
    font-family: tahoma;
    color: green;
    position: relative;
    left: 48%;
    top: -50px;
    margin-block-start: 0;
    margin-block-end: 0;   
}
main .cuadro{
    width: 90%;
    height: 700px;
    border:  5px solid green;
    margin: 0 auto;
    position: relative;
    top: 20px;
}
.cuadro img{
    width: 40%;
    position: relative;
    left: 30%;
    top: 30px;
}